.App {
  text-align: center;
}

/* Estilo Banner*/
.CloudSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 1.2rem;
}



/* Estilo dos botões */
/* App.css */
.BotaoIniciar {
  background-color: #00c2cb;
  color: white;
  font-family: "Jazz LET, fantasy";
  padding: 20px 40px;
  font-size: 2rem;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.3);
  margin: 10px; /* Adicione um pouco de margem entre os botões */
}

.BotaoIniciar:hover {
  background-color: #d3dee9;
}

.Botao {
  font-size: 1rem;
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #343a40;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 10px;
}

.Botao:hover {
  background-color: #1d2124;
}


.CloudImage {
  width: 100%;
  max-width: 1000px;
  height: auto;
  margin-bottom: 20px;
}


/* Estilos do botão de início */
.BotaoIniciarWrapper {
  position: absolute;
  top: 63.5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Estilos de mensagens de erro */
.Erro, .Erros {
  color: red;
  font-size: 18px;
  line-height: 1.4;
  opacity: 0.7;
  margin-bottom: 0;
  margin-top: 8px;
}

.Acertos {
  color: green;
  font-size: 18px;
  line-height: 1.4;
  opacity: 0.7;
  margin-bottom: 0;
  margin-top: 8px;
}

.Acerto {
  color: green;
}


/* Estilo da resposta correta */
.RespostaCorreta {
  font-size: 20px;
  line-height: 1.4;
  opacity: 0.7;
  margin-bottom: 0;
  margin-top: 8px;
}



.CloudImage {
  background-size: cover;
  background-position: center;
}

/* Consulta de mídia para telas de celular (até 767px) */
@media (max-width: 767px) {
  .CloudImage {
    height: 400px;
  }
}

@media (max-width: 767px) {
  .BotaoIniciar {
    height: 40px;
    padding: 10px 20px;
    font-size: 15px;
  }
}

@media (max-width: 767px) {
  .BotaoIniciarWrapper  {
    position: absolute;
    top: 74%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}


/* Consulta de mídia para telas de notebook (768px) até telas maiores */
@media (min-width: 768px) {
  .CloudImage {
    max-width: 80%;
  }

  .CloudSection {
    font-size: 1.5rem;
  }

  .card-product {
    font-size: 20px;
  }
}

/* Consulta de mídia para telas maiores, como monitores de desktop widescreen (1200px) */
@media (min-width: 1200px) {
  .CloudImage {
    max-width: 100%;
  }
}

/* Estilos do card do quiz */
.card-product {
  width: 80%;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;

  /* Efeito de hover */
  &:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
}

/* Estilo da pergunta */
.TextoPergunta {
  font-size: 22px;
  margin-bottom: 10px;
  color: #333;
}

/* Estilo das opções de resposta */
.OpcaoResposta {
  font-size: 20px;
  margin-bottom: 8px;
  color: #555;
}

/* Estilo do botão de mostrar resposta */
.BotaoMostrarResposta {
  background-color: #27ae60;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.BotaoMostrarResposta:hover {
  background-color: #219653;
}
