.App {
  text-align: center;
}

/* Estilo Banner*/
.CloudSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 1.2rem;
}

/* Estilo das perguntas */
.TextoPergunta {
  font-size: 20px;
  line-height: 1.4;
  opacity: 0.7;
  margin-bottom: 0;
  margin-top: 8px;
}

/* Estilo dos botões */
.Botao {
  font-size: 1rem;
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #343a40;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 10px;
}

.Botao:hover {
  background-color: #1d2124;
}

.CloudImage {
  width: 100%;
  max-width: 1000px;
  height: auto;
  margin-bottom: 20px;
}


/* Estilos do botão de início */
.BotaoIniciarWrapper {
  position: absolute;
  top: 63.5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.BotaoIniciar {
  background-color: #00c2cb;
  color: white;
  font-family: "Jazz LET, fantasy";
  padding: 20px 40px;
  font-size: 2rem;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.3);;
}

.BotaoIniciar:hover {
  background-color: #d3dee9;
}

/* Estilos de mensagens de erro */
.Erro, .Erros {
  color: red;
  font-size: 18px;
  line-height: 1.4;
  opacity: 0.7;
  margin-bottom: 0;
  margin-top: 8px;
}

.Acertos {
  color: green;
  font-size: 18px;
  line-height: 1.4;
  opacity: 0.7;
  margin-bottom: 0;
  margin-top: 8px;
}

/* Estilo da resposta correta */
.RespostaCorreta {
  font-size: 20px;
  line-height: 1.4;
  opacity: 0.7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product {
  overflow: hidden;
  height: 100%;
  background: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 20px;
  border-radius: 15px;
}

.CloudImage {
  background-size: cover;
  background-position: center;
}

/* Consulta de mídia para telas de celular (até 767px) */
@media (max-width: 767px) {
  .CloudImage {
    height: 400px;
  }
}

@media (max-width: 767px) {
  .BotaoIniciar {
    height: 40px;
    padding: 10px 20px;
    font-size: 15px;
  }
}

/* Consulta de mídia para telas de notebook (768px) até telas maiores */
@media (min-width: 768px) {
  .CloudImage {
    max-width: 80%;
  }

  .CloudSection {
    font-size: 1.5rem;
  }

  .card-product {
    font-size: 20px;
  }
}

/* Consulta de mídia para telas maiores, como monitores de desktop widescreen (1200px) */
@media (min-width: 1200px) {
  .CloudImage {
    max-width: 100%;
  }
}
